<!doctype html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link href="{{ SITEURL }}/theme/css/bootstrap-custom.css" rel="stylesheet" />
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf-8" />
    {% endblock head %}
</head>

<body id="index" class="home">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <!-- Menu items -->
        {% for title, link in MENUITEMS %}
        <li class="nav-item"><a class="nav-link" href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        <!-- Pages -->
        {% for p in pages %}
        <li class="nav-item"><a class="nav-link{% if p == page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}

        <!-- Article categories -->
        {% for cat, null in categories %}
        <li class="nav-item{% if cat == category %} active{% endif %}">
          <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </nav>

<div class="container">
  {% block content %}
  {% endblock %}
</div>

<div class="container">
  <small>&copy; 2018 <a href="http://dashdotrobot.com" target="_blank">Matthew Ford</a>.
    Powered by <a href="https://getpelican.com" target="_blank">Pelican</a>.
  </small>
</div>

</body>
</html>
