<!doctype html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  {% block head %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63010494-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-63010494-2');
  </script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
  {% if article %}
    {% if article.stylesheets %}
        {% for stylesheet in article.stylesheets %}
  {{ stylesheet }}
        {% endfor %}
    {% endif %}
  {% endif %}
  {% if page %}
    {% if page.stylesheets %}
        {% for stylesheet in page.stylesheets %}
  {{ stylesheet }}
        {% endfor %}
    {% endif %}
  {% endif %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  {% block opengraph %}
  <!-- Open Graph tags -->
    {% if OPEN_GRAPH_FB_APP_ID %}
      <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}">
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:url" content="{{ SITEURL }}">
    <meta property="og:description" content="{{ SITENAME }}">
    {% if OPEN_GRAPH_IMAGE %}
      <meta property="og:image"
            content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}">
    {% endif %}
  {% endblock %}
  {% endblock head %}
</head>

<body id="index" class="home">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }} {{ SITESUBTITLE }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <!-- Menu items -->
        {% for title, link in MENUITEMS %}
        <li class="nav-item"><a class="nav-link" href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        <!-- Pages -->
        {% for p in pages %}
          {% if p.show_in_menu %}
            {% if p.menu_title %}
        <li class="nav-item"><a class="nav-link{% if p == page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.menu_title }}</a></li>
            {% else %}
        <li class="nav-item"><a class="nav-link{% if p == page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <!-- Article categories -->
        {% for cat, null in categories %}
        <li class="nav-item{% if cat == category %} active{% endif %}">
          <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
        </li>
        {% endfor %}
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if SOCIAL_NAV %}
          {% for s_name, s_link, s_icon in SOCIAL_NAV %}
        <li class="nav-item mx-1"><a class="nav-link" href="{{ s_link }}" target="_blank"><i class="{{ s_icon }} icon"></i> {{ s_name }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>

    </div>
  </nav>


{% if page and page.layout_fluid %}
<div class="container-fluid main-content">
{% else %}
<div class="container main-content">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
{% endif %}

  {% block content %}
  {% endblock %}

{% if page and page.layout_fluid %}
</div>
{% else %}
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
{% endif %}

<footer>
<div class="container-fluid text-center py-3">
  <small>&copy; 2020 <a href="http://dashdotrobot.com" target="_blank">Matthew Ford</a>.
    Powered by <a href="https://getpelican.com" target="_blank">Pelican</a> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.
  </small>
</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% if article %}
    {% if article.javascripts %}
        {% for javascript in article.javascripts %}
{{ javascript }}
        {% endfor %}
    {% endif %}
{% endif %}

{% if page %}
    {% if page.javascripts %}
        {% for javascript in page.javascripts %}
{{ javascript }}
        {% endfor %}
    {% endif %}
{% endif %}

</body>
</html>
